*, *::before, *::after{
  box-sizing: border-box;
}

:root {
  -primary: #f81e5b;
  --secondary: #d81e5b;
  --dark: #131a26;
  --light: #eee;
}

body {
  background-color: #154360;
}

.App{
  box-sizing: content-box;
  width: 100%;
  padding: 5px;
}


.calculator{
  width: 4  00px;
  max-width: 400px;
  background-color: 400px;
}


.display{
  padding: 16px;
  text-align: right;
  background-color: var(--dark);
  color: var(--secondary);
  font-size: 24px;
  font-weight: 300;
}


.display span {
  font-size: 14px;
  color: #d81e5b;
}

button{
  appearance: none;
  border:none;
  outline: none;
  color: #F1C40F;
  font-size: 20px;
  padding: 16px;
  cursor: pointer;
  transition: 0.4s;
}

button:hover{
  opacity: 0.9;
}

.operators{
  display:flex;
}

.operators button{
  flex: 1 1 0%;
  background-color: #d81e5b;
  font-weight: 700;
}

.digits{
  display: flex;
  flex-wrap: wrap;
}

.digits button{
  flex: 1 1 33.333%;
  max-width: 33.333%;
  background-color: var(--dark);
}






